In [1]:
import pandas as pd
import numpy as np 
import scipy as sp
import torch

In [8]:
fb_match = pd.read_csv("https://raw.githubusercontent.com/xgabora/Club-Football-Match-Data-2000-2025/refs/heads/main/data/Matches.csv")
fb_match

C:\Users\sunc2\AppData\Local\Temp\ipykernel_22008\1822686548.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  fb_match = pd.read_csv("https://raw.githubusercontent.com/xgabora/Club-Football-Match-Data-2000-2025/refs/heads/main/data/Matches.csv")

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230552,SP2,2025-06-01,17:30:00,Cartagena,Mirandes,1339.21,1544.15,3.0,6.0,7.0,...,2.40,1.8,1.95,1.85,0.0209,0.0118,0.0099,0.8084,0.1386,0.0104
230553,SP2,2025-06-01,17:30:00,Almeria,Tenerife,1544.16,1433.67,4.0,10.0,1.0,...,2.55,-1.8,1.80,2.00,0.3799,0.0630,0.2806,0.0160,0.2332,0.0274
230554,SP2,2025-06-01,17:30:00,La Coruna,Elche,1473.67,1569.98,0.0,3.0,3.0,...,2.63,1.3,1.78,2.03,0.0224,0.7482,0.0100,0.1201,0.0180,0.0813
230555,SP2,2025-06-01,17:30:00,Oviedo,Cadiz,1574.90,1525.76,7.0,13.0,6.0,...,1.51,-0.8,1.95,1.85,0.2070,0.2490,0.2334,0.0211,0.2634,0.0261
230556,SP2,2025-06-01,20:00:00,Cordoba,Albacete,1468.40,1495.25,0.0,4.0,6.0,...,2.70,-1.0,2.00,1.80,0.0191,0.0203,0.0937,0.0164,0.8251,0.0254

In [55]:
(fb_match["Division"] == "E0").any()

np.True_

In [56]:
prem = fb_match[fb_match["Division"] == "E0"]
prem

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
154,E0,2000-08-19,NaN,Charlton,Man City,1608.77,1579.99,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.1396,0.0346,0.2085,0.0100,0.2939,0.3134
155,E0,2000-08-19,NaN,Chelsea,West Ham,1800.17,1681.36,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0702,0.0742,0.0099,0.0823,0.0387,0.7247
156,E0,2000-08-19,NaN,Coventry,Middlesbrough,1635.61,1679.18,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.8114,0.0316,0.0103,0.0731,0.0319,0.0417
157,E0,2000-08-19,NaN,Derby,Southampton,1636.08,1630.02,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0272,0.0390,0.0467,0.0100,0.0961,0.7810
158,E0,2000-08-19,NaN,Leeds,Everton,1782.55,1685.55,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.7772,0.0994,0.0140,0.0429,0.0119,0.0546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230506,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,2.65,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150
230507,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,2.26,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305
230508,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,2.80,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098
230509,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,3.55,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425
230510,E0,2025-05-25,16:00:00,Wolves,Brentford,1739.45,1820.23,0.0,6.0,6.0,...,2.63,0.0,2.03,1.83,0.0302,0.1610,0.0306,0.1010,0.6641,0.0131

In [57]:
from datetime import date

prem["MatchDate"].dtype == date

True

In [62]:
prem['MatchDate'] = pd.to_datetime(prem["MatchDate"])

twentyfive_five_three = prem[prem["MatchDate"] == "2025-05-03"]

twentyfour_twentyfive = prem[(prem["MatchDate"] >= "2024-08-16") & (prem["MatchDate"] <= "2025-05-25")]
twentyfour_twentyfive

C:\Users\sunc2\AppData\Local\Temp\ipykernel_22008\838555697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem['MatchDate'] = pd.to_datetime(prem["MatchDate"])

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
222491,E0,2024-08-16,20:00:00,Man United,Fulham,1779.04,1716.28,6.0,7.0,4.0,...,2.60,-1.0,2.05,1.88,0.0107,0.0098,0.0098,0.9496,0.0101,0.0098
222509,E0,2024-08-17,12:30:00,Ipswich,Liverpool,1568.33,1900.69,7.0,9.0,7.0,...,3.07,1.5,2.02,1.91,0.0164,0.0228,0.8844,0.0099,0.0353,0.0313
222548,E0,2024-08-17,15:00:00,Arsenal,Wolves,1946.90,1677.86,9.0,15.0,0.0,...,2.82,-2.0,1.93,2.00,0.0632,0.6719,0.0182,0.1604,0.0670,0.0192
222549,E0,2024-08-17,15:00:00,Everton,Brighton,1706.85,1713.16,4.0,10.0,1.0,...,2.08,0.0,1.96,1.97,0.4154,0.0697,0.0876,0.0627,0.1137,0.2508
222550,E0,2024-08-17,15:00:00,Newcastle,Southampton,1801.80,1599.60,4.0,10.0,3.0,...,3.12,-1.5,1.98,1.95,0.5042,0.0242,0.0193,0.1110,0.2755,0.0658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230506,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,2.65,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150
230507,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,2.26,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305
230508,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,2.80,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098
230509,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,3.55,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425
230510,E0,2025-05-25,16:00:00,Wolves,Brentford,1739.45,1820.23,0.0,6.0,6.0,...,2.63,0.0,2.03,1.83,0.0302,0.1610,0.0306,0.1010,0.6641,0.0131

In [71]:
tftf_copy = twentyfour_twentyfive.copy()

In [103]:
tftf_copy_W = tftf_copy[tftf_copy["FTResult"].isin(['H', 'A'])]
tftf_copy_W["HigherElo"] = np.where(
    tftf_copy_W["HomeElo"] > tftf_copy_W["AwayElo"], 'H', 
    np.where(tftf_copy_W['HomeElo'] < tftf_copy_W['AwayElo'], 'A', 'E')
)
tftf_copy_W

C:\Users\sunc2\AppData\Local\Temp\ipykernel_22008\397921064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tftf_copy_W["HigherElo"] = np.where(

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB,HigherElo
222491,E0,2024-08-16,20:00:00,Man United,Fulham,1779.04,1716.28,6.0,7.0,4.0,...,-1.0,2.05,1.88,0.0107,0.0098,0.0098,0.9496,0.0101,0.0098,H
222509,E0,2024-08-17,12:30:00,Ipswich,Liverpool,1568.33,1900.69,7.0,9.0,7.0,...,1.5,2.02,1.91,0.0164,0.0228,0.8844,0.0099,0.0353,0.0313,A
222548,E0,2024-08-17,15:00:00,Arsenal,Wolves,1946.90,1677.86,9.0,15.0,0.0,...,-2.0,1.93,2.00,0.0632,0.6719,0.0182,0.1604,0.0670,0.0192,H
222549,E0,2024-08-17,15:00:00,Everton,Brighton,1706.85,1713.16,4.0,10.0,1.0,...,0.0,1.96,1.97,0.4154,0.0697,0.0876,0.0627,0.1137,0.2508,A
222550,E0,2024-08-17,15:00:00,Newcastle,Southampton,1801.80,1599.60,4.0,10.0,3.0,...,-1.5,1.98,1.95,0.5042,0.0242,0.0193,0.1110,0.2755,0.0658,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230505,E0,2025-05-25,16:00:00,Man United,Aston Villa,1797.14,1877.14,0.0,1.0,9.0,...,0.8,1.95,1.90,0.1425,0.0519,0.1051,0.0429,0.6227,0.0348,A
230506,E0,2025-05-25,16:00:00,Newcastle,Everton,1882.33,1776.20,4.0,7.0,7.0,...,-1.5,1.93,1.93,0.0276,0.0613,0.2894,0.0100,0.5967,0.0150,H
230507,E0,2025-05-25,16:00:00,Nott'm Forest,Chelsea,1799.76,1880.42,5.0,8.0,6.0,...,0.3,1.93,1.93,0.1250,0.7378,0.0139,0.0637,0.0291,0.0305,A
230508,E0,2025-05-25,16:00:00,Southampton,Arsenal,1557.66,1985.45,1.0,2.0,4.0,...,1.5,2.03,1.83,0.0105,0.0098,0.0098,0.9324,0.0276,0.0098,A
230509,E0,2025-05-25,16:00:00,Tottenham,Brighton,1784.55,1797.83,1.0,1.0,7.0,...,0.8,2.00,1.85,0.2559,0.0320,0.0136,0.4660,0.1900,0.0425,A

In [106]:
selected_cols = ["MatchDate", 'HomeTeam', 'AwayTeam', 'HomeElo', 'AwayElo', 'HigherElo', 'FTResult']
tftf_copy_W = tftf_copy_W[selected_cols]
tftf_copy_W

,MatchDate,HomeTeam,AwayTeam,HomeElo,AwayElo,HigherElo,FTResult
222491,2024-08-16,Man United,Fulham,1779.04,1716.28,H,H
222509,2024-08-17,Ipswich,Liverpool,1568.33,1900.69,A,A
222548,2024-08-17,Arsenal,Wolves,1946.90,1677.86,H,H
222549,2024-08-17,Everton,Brighton,1706.85,1713.16,A,A
222550,2024-08-17,Newcastle,Southampton,1801.80,1599.60,H,H
...,...,...,...,...,...,...,...
230505,2025-05-25,Man United,Aston Villa,1797.14,1877.14,A,H
230506,2025-05-25,Newcastle,Everton,1882.33,1776.20,H,A
230507,2025-05-25,Nott'm Forest,Chelsea,1799.76,1880.42,A,A
230508,2025-05-25,Southampton,Arsenal,1557.66,1985.45,A,A
230509,2025-05-25,Tottenham,Brighton,1784.55,1797.83,A,A

In [107]:
tftf_copy_W_unexpected = tftf_copy_W[tftf_copy_W['HigherElo'] != tftf_copy_W['FTResult']]
tftf_copy_W_unexpected

,MatchDate,HomeTeam,AwayTeam,HomeElo,AwayElo,HigherElo,FTResult
222644,2024-08-18,Brentford,Crystal Palace,1711.08,1759.71,A,H
222781,2024-08-24,Brighton,Man United,1713.16,1779.04,A,H
222818,2024-08-24,Crystal Palace,West Ham,1759.71,1726.24,H,A
223154,2024-08-31,Everton,Bournemouth,1706.85,1691.12,H,A
223514,2024-09-14,Liverpool,Nottm Forest,1908.05,1654.59,H,A
...,...,...,...,...,...,...,...
230302,2025-05-11,Man United,West Ham,1785.17,1723.31,H,A
230438,2025-05-18,Brentford,Fulham,1820.23,1776.09,H,A
230478,2025-05-19,Brighton,Liverpool,1797.83,2008.67,A,H
230505,2025-05-25,Man United,Aston Villa,1797.14,1877.14,A,H
230506,2025-05-25,Newcastle,Everton,1882.33,1776.20,H,A